<!--
	Copyright 2022 Steven Su

	This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

	This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="static/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <title>Linear Algebra Game</title>
        <style>
            canvas {
                border: 1px black solid;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <div class="container">
		    <div class="pt-5 pb-3 text-center">
		        <h1>Ballz - Linear Algebra Version</h1>
		        <p class="lead">This game is an adaptation of the (formerly) popular <a href="https://play.google.com/store/apps/details?id=com.ketchapp.ballz&hl=en_US&gl=US">Ballz</a> mobile game rewritten from scratch in Javascript incorporating linear algebra problem solving and more powerups. There is a tiny bit of linear algebra involved in the inner workings of the game for the pathing of the ball (bouncing is basically linear transformations applied on the velocity vector), but the bulk of the math in the gameplay comes from players needing to solve problems to unlock vital powerups.</p>
		    </div>
		</div>
		<div class="container center text-center">
		    <canvas id="gameCanvas" width="395" height="540"></canvas>
		    <div id="overlay" class="p-3 overflow-auto" style="display: none;">
		        <h3>Game over!</h3>
		        <p>Your score was <span id="goScore"></span>. You also attempted to solve <span id="goNumSolved"></span> linear algebra problems and got <span id="goNumCorrect"></span> of them correct!</p>
		        <button type="submit" id="startGameBtn" class="btn btn-primary">New Game</button>
	        </div>
		    <div class="p-3 overflow-auto" id="problemOverlay" style="display: none;">
		        <h3>Problems for Powerups</h3>
		        <p>You have <span id="numProblems"></span> remaining powerup(s) collected last round<span style="display: none;" id="fiveRoundBonus">, including the one free ball from every 5 rounds</span>. Solve the following problems to activate them.</p>
		        <p id="problemText"></p>
		        <div class="form-group">
                    <label for="answer">Answer:</label>
                    <input type="number" class="form-control" id="answer" placeholder="Integer">
                    <small class="form-text text-muted">Your answer should be an integer. If not, round to the nearest one.</small>
                </div>
                <button type="submit" id="problemSubmit" class="btn btn-primary">Check Answer</button>
                <p style="display: none;" id="problemResult"></p>
                <button style="display: none;" type="submit" id="continueProblem" class="btn btn-primary">Continue</button>
	        </div>
		</div>
		<div class="container">
			<h3>Difficulty Configuration</h3>
			<p>Change some settings to reduce the amount of math you have to do or to make the game slightly easier.</p>
			<div class="mb-3">
				<h4>Math Config</h4>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="freeBallProblem">
					<label class="form-check-label" for="freeBallProblem">
						Math problem with free ball
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="2b2Matrices" checked>
					<label class="form-check-label" for="2b2Matrices">
						2-by-2 matrices only
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="moreProblemChances" checked>
					<label class="form-check-label" for="2b2Matrices">
						Allow 3 tries for problems
					</label>
				</div>
			</div>
			<!--<div class="mb-3">
				<h4>Collission Mechanics</h4>
				<p>This option allows you to mess with the main horizontal wall collision mechanics. It is by default setup with a transformation that keeps the y velocity and negates the x as expected normally. Note that you <em>can</em> play with shears and scaling, but the transformations are applied in a way such that velocities are maintained so take that as you will. <b>It is very easy to break the game with this feature (e.g. setting purely horizontal/vertical motion, setting 0 velocity, etc.), so do with that what you will.</b></p>
				<div class="col-md-4">
					<div class="row mb-3">
						<div class="col">
						<input type="number" class="form-control" placeholder="-1" id="htm1">
						</div>
						<div class="col">
						<input type="number" class="form-control" placeholder="0" id="htm2">
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
						<input type="number" class="form-control" placeholder="0" id="htm3">
						</div>
						<div class="col">
						<input type="number" class="form-control" placeholder="1" id="htm4">
						</div>
					</div>
					<div class="row mb-3">
						<button type="submit" id="setHtm" class="btn btn-primary">Set Horizontal Wall Transformation</button>
					</div>
				</div>
			</div>-->
		</div>
		<div class="container mb-3">
		    <h3>Instructions:</h3>
		    <p>The objective of the game is to keep the rows of blocks from reaching the bottom line as long as possible, measured in number of levels passed. Each level, a new row of blocks will be generated at the top, with the current rows being pushed down. Each block has a certain number representing the number of times it needs to be hit by a ball. You have the opportunity to aim and set an initial trajectory each level where all of your balls (you have only one initially) will travel. Collect rings and solve linear algebra problems to unlock vital powerups for destroying blocks as more appear and their numbers increase.</p>
		    <ul>
		        <li>On the game window, click anywhere (e.g. on the blue circle) and drag downwards to start the aiming process. A ray will appear from the ball on the line showing the angle of launch and the thickness of the line represents the speed of the balls. Dragging further from the initial position increases thickness. Drag around to change the angle. To cancel the aiming process, drag upwards until the aiming ray disappears.</li>
				<li>Release your click to start the ball launching process.</li>
				<li>Every 5 levels, you will get an extra ball automatically. However, in order to succeed at higher levels, you will need to collect powerups randomly generated each level and solve linear algebra problems correctly to have enough balls and power to deal with the increasing numbers on the blocks.</li>
				<li><b>Powerups: </b>green are extra balls, blue increase the power of the ball (amount reduced each time a ball hits a block), green are effective level reductions (reduces the number on blocks when they are generated)</li>
		    </ul>
		</div>
		<div class="container mb-3">
			<h3>Known Issues</h3>
			<p>Making games is hard, especially when writing movement and physics from scratch. Considering the relatively short amount of time available developing this game and the fact that I learned a lot of the mechanics on the fly, there are a few minor errors. I have spent hours trying to address bugs in addition to the initial game creation and it isn't perfect, but the game is definitely in a playable state.</p>
		    <ul>
		        <li>Collision detection between the balls and blocks <em>can</em> be a little glitchy. It works like 99% of the time though.</li>
				<li>There might be some adjustments that can be made for level scaling to balance the game's difficulty but this is hard to perfect, especially since I myself am not that great at the game and because levels are randomly generated</li>
		    </ul>
		</div>
		<div class="container mb-3">
			<h3>Tools and Packages Used</h3>
			<p>These are the main packages and tools used to make this game.</p>
			<ul>
				<li><a href="https://www.python.org/">Python</a>, <a href="https://flask.palletsprojects.com/en/2.0.x/">Flask</a>, and <a href="https://www.sympy.org/en/index.html">SymPy</a> on the backend</li>
				<li><a href="https://jquery.com/">jQuery</a> and plain Javascript for the game code</li>
				<li><a href="https://getbootstrap.com/">Bootstrap</a>, <a href="https://www.mathjax.org/">MathJax</a> for visual aesthetics</li>
				<li>The code and resources for this site is open-source and available at my <a href="https://git.stevensu.dev/lakewood999/linalg-game">GitLab</a>.</li>
			</ul>
		</div>
		<footer class="text-muted">
			<div class="container">
			  	<p>&copy; 2022 Steven Su</p>
			</div>
		</footer>	  
        <script src="static/setup.js"></script>
        <script src="static/mouse.js"></script>
        <script src="static/objects.js"></script>
        <script src="static/board.js"></script>
        <script src="static/problem.js"></script>
        <script src="static/game.js"></script>
    </body>
</html>
