<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="static/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <title>Linear Algebra Game</title>
        <style>
            canvas {
                border: 1px black solid;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <div class="container">
		    <div class="pt-5 pb-3 text-center">
		        <h1>Ballz - Linear Algebra Version</h1>
		        <p class="lead">This game is an adaptation of the (formerly) popular <a href="https://play.google.com/store/apps/details?id=com.ketchapp.ballz&hl=en_US&gl=US">Ballz</a> mobile game incorporating more linear algebra components. There is linear algebra involved in the inner workings of the game for the pathing of the ball, but also in the gameplay where players need to solve problems for their benefit to better track the path of the balls and to unlock powerups.</p>
		    </div>
		</div>
		<div class="container center text-center">
		    <canvas id="gameCanvas" width="395" height="540"></canvas>
		    <div id="overlay" class="p-3 overflow-auto" style="display: none;">
		        <h3>Game over!</h3>
		        <p>Your score was <span id="goScore"></span>. You also attempted to solve <span id="goNumSolved"></span> linear algebra problems and got <span id="goNumCorrect"></span> of them correct!</p>
		        <button type="submit" id="startGameBtn" class="btn btn-primary">New Game</button>
	        </div>
		    <div class="p-3 overflow-auto" id="problemOverlay" style="display: none;">
		        <h3>Problems for Powerups</h3>
		        <p>You have <span id="numProblems"></span> remaining powerup(s) collected last round. Solve for following problems correctly to use them.</p>
		        <p id="problemText"></p>
		        <div class="form-group">
                    <label for="answer">Answer:</label>
                    <input type="number" class="form-control" id="answer" placeholder="Integer">
                    <small class="form-text text-muted">Your answer should be an integer. If not, round to the nearest one.</small>
                </div>
                <button type="submit" id="problemSubmit" class="btn btn-primary">Submit</button>
                <p style="display: none;" id="problemResult"></p>
                <button style="display: none;" type="submit" id="continueProblem" class="btn btn-primary">Continue</button>
	        </div>
		</div>
		<div class="container">
		    <h3>Instructions:</h3>
		    <p>Testing testing one two three.\( ax^2 + bx - c = 0 \) \(\begin{bmatrix}a & b\\c & d\end{bmatrix} \)</p>
		    <ul>
		        <li>Aim the initial trajectory of the ball</li>
		    </ul>
		    <h3>Known Issues</h3>
		    <ul>
		        <li></li>
		    </ul>
		</div>
        <script>
            /* Initial setup */
            // Game block settings
            var blockSize = 45;
            var blockMargin = 5;
            var numBlocksWidth = 7, numBlocksHeight = 10;
            
            // setup the canvas
            var canvas = document.getElementById("gameCanvas"), ctx = canvas.getContext("2d");
            canvas.width = numBlocksWidth * blockSize + blockMargin * (numBlocksWidth+1);
            canvas.height = numBlocksHeight * blockSize + blockMargin * (numBlocksHeight+1) + blockSize*2; // last one adjusts for bottom bar
            
            // render setup
            var targetFps = 60, targetElapsed = 1/60;
            
            // basic game variables
            var startX = canvas.width/2, startY = canvas.height-blockSize*2;
            var ballRadius = 10;
            var game_state;
            var ballsMoving, framesPassed, framesBeforeShots;
            var gameFailed = false;
            
            var grid = new Array(numBlocksHeight);
            for (var i = 0; i < grid.length; i++) {
                grid[i] = new Array(numBlocksWidth);
                for (var j = 0; j < grid[i].length; j++) {
                    grid[i][j] = null;
                }
            }
            var levelNum;
            var ballsGained;
            var roundsSincePowerup;
            var numberNewBalls;
            var numSolved, numCorrect;
            var balls;
        </script>
        <script src="static/mouse.js"></script>
        <script src="static/objects.js"></script>
        <script src="static/game.js"></script>
        <script src="static/board.js"></script>
        <script src="static/problem.js"></script>
        <script>
            // start game
            function startGame() {
                levelNum = 1;
                ballsGained = 0;
                roundsSincePowerup = 0;
                numberNewBalls = 0;
                
                numSolved = 0;
                numCorrect = 0;
                
                game_state = "aiming";
                gameFailed = false;
                
                ballsMoving = 0, framesPassed = 0, framesBeforeShots = 5;
                balls = [new Ball()];
                grid = new Array(numBlocksHeight);
                for (var i = 0; i < grid.length; i++) {
                    grid[i] = new Array(numBlocksWidth);
                    for (var j = 0; j < grid[i].length; j++) {
                        grid[i][j] = null;
                    }
                }
                grid = gen_board();
                
                $("#overlay").hide();
                $("#gameCanvas").show();
                
                requestAnimationFrame(draw);
            }
            startGame();
        </script>
    </body>
</html>
